{% block month_widget %}
    {% spaceless %}
        {{ form_widget(form.month) }}
    {% endspaceless %}
{% endblock %}

{% block year_widget %}
    {% spaceless %}
        {{ form_widget(form.year) }}
    {% endspaceless %}
{% endblock %}

{% block studies_row %}
    {% spaceless %}
        kevin
        <div class="col-md-offset-2">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock %}