{% form_theme form 'form/collectionWidget.html.twig' %}

<h3>Formulaire de profil</h3>
<div class="well">

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.birthdayDate) }}
    {{ form_row(form.country) }}
    {{ form_row(form.city) }}
    {{ form_row(form.postalCode) }}
    {{ form_row(form.address) }}
    {{ form_row(form.title) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phoneNumber) }}
    {{ form_row(form.image) }}

    {{ form_widget(form.studies, { 'fieldname': form.vars.studyname}) }}
    {#{{ form_row(form.experiences) }}#}
    {#<a href="#" id="add-experience" class="btn btn-default">Ajouter une expérience</a><br/><br/>#}
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(form) }}
</div>

<script type="text/javascript">
    $(document).ready(function() {
        // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
        var $containerStudies = $('div#profil_studies');

        // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
        var indexStudies = $containerStudies.find(':input').length;

        // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
        $('#add-study').click(function(e) {
            addStudy($containerStudies, indexStudies);

            e.preventDefault(); // évite qu'un # apparaisse dans l'URL
            return false;
        });

        if (indexStudies == 0) {
            addStudy($containerStudies, indexStudies);
        } else {
            // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
            $containerStudies.children('div').each(function() {
                addDeleteLink($(this));
            });
        }

        function addStudy($containerStudies) {
            // Dans le contenu de l'attribut « data-prototype », on remplace :
            // - le texte "__name__label__" qu'il contient par le label du champ
            // - le texte "__name__" qu'il contient par le numéro du champ
            var template = $containerStudies.attr('data-prototype')
                    .replace(/__name__/g,        indexStudies);

            // On crée un objet jquery qui contient ce template
            var $prototype = $(template);

            $prototype.find('h4').append(indexStudies + 1);

            // On ajoute le prototype modifié à la fin de la balise <div>
            $containerStudies.find('ul').append($prototype);

            // Le bloc ajouté
            var $deleteLink = $prototype.find('.remove-study');

            $deleteLink.click( function (e) {
                $prototype.remove();

                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            indexStudies++;
        }
    });
</script>