{% form_theme form 'form/collectionWidget.html.twig' %}

{% if profil is defined %}
<a href="{{ path('kevin_portfolio_delete', {'id': profil.id}) }}"  class="btn btn-default">
    <i class="glyphicon glyphicon-trash"></i>
    Supprimer mon profil
</a>
{% endif %}

<div class="well">
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.birthdayDate) }}
    {{ form_row(form.country) }}
    {{ form_row(form.postalCode) }}
    {{ form_row(form.city) }}
    {{ form_row(form.address) }}
    {{ form_row(form.title) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phoneNumber) }}

    <!-- Affichage de l'image -->
    {{ form_label(form.image) }}
    {{ form_errors(form.image) }}
    {% if profil is defined and profil.image is not null %}
        <div id="profil-image">
            <img style="height: 110px;width: 90px;background-size: cover;" src="{{ asset(profil.image.getWebPath)}}" alt="{{ profil.image.alt }}">
        </div>
    {% endif %}
    {{ form_widget(form.image) }}


    {{ form_widget(form.studies, { 'fieldname': form.vars.studyname}) }}

    {{ form_widget(form.experiences, { 'fieldname': form.vars.experiencename}) }}

    {{ form_widget(form.profilSkills, { 'fieldname': form.vars.skillname}) }}

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(form) }}
</div>